.bigsize-mask {
    position: absolute;
    left: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    background-color: #000;
    opacity: 0.5;
    filter: alpha(opacity=50);
    z-index: 3000;
}
.bigsize {
    text-align: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3000;
}
.bigsize-contentbox {
    position: relative;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    text-align: left;
    -webkit-transition: margin-top 0.5s;
    -o-transition: margin-top 0.5s;
    transition: margin-top 0.5s;
}
.bigsize-closer {
    position: absolute;
    right: -0.5em;
    top: -0.5em;
    text-align: center;
    width: 1em;
    height: 1em;
    cursor: pointer;
    color: #fff;
    padding: 3px;
    text-align: center;
    background: url('http://source.qunarzz.com/usercenter/complaints/closer.gif') 50% 50% no-repeat;
    text-indent: -3em;
    overflow: hidden;
    font: bold 12px/1 sans-serif;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.bigsize-bd {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    background-color: #000;
    background-color: rgba(0,0,0,0.1);
    padding: 6px;
}
.bigsize-hidden {
    display: none;
}
.bigsize-img {
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
}